{% import "AnticomShowcaseBundle::_macros.html.twig" as tools %}
<!DOCTYPE html>
<html lang="de-DE">
<head>
    {% block meta %}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    <title>{% block title %}Firma XY{% endblock %}</title>
    {% block stylesheets %}
        {#Latest compiled and minified CSS#}
        <link rel="stylesheet" href="{{ asset('bundles/anticomshowcase/bootstrap/dist/css/bootstrap.min.css') }}">
        {#Optional theme#}
        <link rel="stylesheet" href="{{ asset('bundles/anticomshowcase/bootstrap/dist/css/bootstrap-theme.min.css') }}">
        {#font awesome#}
        <link rel="stylesheet" href="{{ asset('bundles/anticomshowcase/font-awesome/css/font-awesome.min.css') }}">
        {#jQuery ui theme#}
        <link rel="stylesheet" href="{{ asset('bundles/anticomshowcase/jquery-ui/themes/base/minified/jquery-ui.min.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}
    <div class="container">
        <div style="height: 20px;"></div>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                {#Brand and toggle get grouped for better mobile display#}
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav0-collapse">
                        <span class="sr-only">Navigation umschalten</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('index') }}">Firma XY</a>
                </div>

                {#region navbar collapse#}
                <div class="collapse navbar-collapse" id="nav0-collapse">
                    {{ knp_menu_render('AnticomShowcaseBundle:MenuBuilder:mainMenu', {'currentClass': 'active', 'allow_safe_labels': true}) }}
                    {{ knp_menu_render('AnticomShowcaseBundle:MenuBuilder:userMenu', {'currentClass': 'active', 'allow_safe_labels': true}) }}
                </div>
                {#endregion#}
            </div>
        </nav>

        {# region flash messages #}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            {{ tools.alert(flashMessage) }}
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            {{ tools.alert(flashMessage, 'success') }}
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('warning') %}
            {{ tools.alert(flashMessage, 'warning') }}
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('danger') %}
            {{ tools.alert(flashMessage, 'error') }}
        {% endfor %}
        {# endregion #}

        {#region content#}
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        {#endregion#}

        {#region footer#}
        <div style="height: 75px;"></div>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-8">
                    <a href="{{ path('anticom_showcase_impress') }}">Impressum</a>
                    &bull;
                    <a href="{{ path('anticom_showcase_contact') }}">Kontakt</a>
                </div>
                <div class="col-md-4">
                    <p class="text-muted pull-right">© 2014 Firma XY. All rights reserved</p>
                </div>
            </div>
        </div>
        {#endregion#}
    </div>
{% endblock %}
{% block javascripts %}
    {#jQuery (necessary for Bootstrap's JavaScript plugins)#}
    <script src="{{ asset('bundles/anticomshowcase/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/anticomshowcase/jquery-ui/ui/minified/jquery-ui.min.js') }}"></script>

    {#Latest compiled and minified JavaScript#}
    <script src="{{ asset('bundles/anticomshowcase/bootstrap/dist/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>

