{% extends 'AnticomShowcaseBundle::base.html.twig' %}
{% import "AnticomShowcaseBundle::_macros.html.twig" as tools %}

{% block javascripts %}
    {{ parent() }}
    {#latest tinymce build#}
    <script src="{{ asset('bundles/anticomshowcase/tinymce/js/tinymce/jquery.tinymce.min.js') }}"></script>
    <script src=""></script>
    <script type="text/javascript">
        $(document).ready(function () {
            editorBlogEntry(
                    $('#editor'),
                    '{{ asset('bundles/anticomshowcase/tinymce/js/tinymce/tinymce.js') }}'
            );
        });
    </script>
{% endblock %}

{% block content %}
    <h1>Blogeintrag bearbeiten</h1>
    {{ form_start(form) }}
    {% if not form.vars.valid %}
        {{ tools.alertErrorAggregate(form.vars.errors) }}
    {% endif %}
    <div class="form-group">
        {{ form_label(form.title) }}
        {% if form.title.vars.errors|length %}
            {{ tools.alertErrorAggregate(form.title.vars.errors) }}
        {% endif %}
        {{ form_widget(form.title) }}
    </div>

    <div class="form-group">
        {{ form_label(form.body) }}
        {% if form.body.vars.errors|length %}
            {{ tools.alertErrorAggregate(form.body.vars.errors) }}
        {% endif %}
        {{ form_widget(form.body, {'id': 'editor', 'required': false, 'attr': {'rows': '15'}}) }}
    </div>

    <div class="form-group">
        {{ form_widget(form.submit) }}
        <a href="{{ path('anticom_showcase_blog_list') }}" class="btn btn-default">Abbrechen</a>
    </div>
    {{ form_end(form) }}
{% endblock %}