{% extends 'AnticomShowcaseBundle::base.html.twig' %}
{% import "AnticomShowcaseBundle::_macros.html.twig" as tools %}

{% block breadcrumbs %}
    <li><a href="{{ path('index') }}">Startseite</a></li>
    <li class="active">Blog</li>
{% endblock %}

{% block content %}
    {% for blogEntry in blogEntries %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>
                        <strong>
                            <a href="{{ path('show', {'id': blogEntry.id}) }}">{{ blogEntry.title }}</a>
                        </strong>
                    </h4>

                    <div>
                        {{ blogEntry.body|raw }}
                        <a href="{{ path('show', {'id': blogEntry.id}) }}">Weiterlesen...</a>
                    </div>

                    <hr>
                    <div>
                        <span class="glyphicon glyphicon-user"></span> by <a href="#">{{ blogEntry.author.nickName }}</a>
                        | <span class="glyphicon glyphicon-calendar"></span> {{ tools.entryDate(blogEntry.dateTimeCreated) }}
                        | <span class="glyphicon glyphicon-comment"></span> <a href="{{ path('show', {'id': blogEntry.id}) }}#comments">{{ blogEntry.comments|length }} Kommentare</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}