{% extends 'AnticomShowcaseBundle::base.html.twig' %}
{% import "AnticomShowcaseBundle::_macros.html.twig" as tools %}

{% block javascripts %}
    {{ parent() }}
    {#latest tinymce build#}
    <script src="{{ asset('bundles/anticomshowcase/tinymce/js/tinymce/tinymce.jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/anticomshowcase/tinymce/js/tinymce/jquery.tinymce.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#editor').tinymce({
                //script_url : '/gui/js/tinymce/tinymce.min.js',
                language   : 'de_DE',
                //visual     : false,
                menubar    : true,
                statusbar  : true,
                plugins : [
                    "advlist autolink lists link image charmap print preview hr pagebreak",
                    "searchreplace wordcount visualblocks visualchars code fullscreen",
                    "insertdatetime media nonbreaking save table contextmenu directionality",
                    "emoticons template paste textcolor"
                ],
                toolbar1: "undo redo | customStyles styleselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist | link image | forecolor backcolor | preview fullscreen code",

                convert_urls       : false,
                forced_root_block  : 'div'
            });
        });
    </script>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
        <label for="editor">My Cool editor</label>
        <textarea name="content" rows="19" id="editor"></textarea>
    {{ form_end(form) }}
{% endblock %}