{% extends 'AnticomShowcaseBundle:Blog:index.html.twig' %}
{% import "AnticomShowcaseBundle::_macros.html.twig" as tools %}
{% import "AnticomShowcaseBundle:Blog:_macros.html.twig" as macros %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>
                <strong>{{ blogEntry.title }}</strong>
            </h1>

            <p>
                <span class="glyphicon glyphicon-user"></span> by <a href="#">{{ blogEntry.author.nickName }}</a>
                | <span class="glyphicon glyphicon-calendar"></span> {{ tools.entryDate(blogEntry.dateTimeCreated) }}
            </p>

            <div>
                {{ blogEntry.body }}
            </div>
        </div>
    </div>

    <ul class="pager">
        <li class="previous"><a href="#">&larr; Vorheriger Eintrag</a></li>
        <li class="next"><a href="#">Nächster Eintrag &rarr;</a></li>
    </ul>

    <div style="height: 20px;"></div>
    <h4 id="comments">Kommentare</h4>
    <hr>
    {% for comment in blogEntry.comments if comment.parent == null %}
    <div class="media">
        {{ macros.commentMedia(comment) }}
    </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        if (window.location.hash) {
            window.scrollTo(0, 0);
            setTimeout(function () {
                var hash = window.location.hash;
                var $target = $(hash);
                $('html,body').animate(
                    {
                        scrollTop: $target.offset().top
                    },
                    'slow'
                );
            },
            500);
        }
    </script>
{% endblock %}