{% extends 'AnticomShowcaseBundle::base.html.twig' %}
{% import "AnticomShowcaseBundle:Blog:_macros.html.twig" as macros %}

{% block content %}
    {{ macros.singleBlogEntry(blogEntry) }}

    <ul class="pager">
        {% if prev %}
            <li class="previous"><a href="{{ path('anticom_showcase_blog_show', {'id': prev.id}) }}">&larr;</a></li>
        {% else %}
            <li class="previous disabled"><span>&larr;</span></li>
        {% endif %}
        {% if next %}
            <li class="next"><a href="{{ path('anticom_showcase_blog_show', {'id': next.id}) }}">&rarr;</a></li>
        {% else %}
            <li class="next disabled"><span>&rarr;</span></li>
        {% endif %}
    </ul>

    <div style="height: 20px;"></div>
    <h4 id="comments">Kommentare</h4>
    <hr>
    {% for comment in blogEntry.comments if comment.parent == null %}
        {{ macros.commentMedia(comment) }}
    {% endfor %}
    {% if app.user %}
        <div style="padding-top: 20px;">
            <a href="{{ path('anticom_showcase_comment_new', {'blogEntry': blogEntry.id}) }}#comments">Neuen kommentar verfassen</a>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        scrollToHash();
    </script>
{% endblock %}