{% extends 'AnticomShowcaseBundle::base.html.twig' %}
{% import "AnticomShowcaseBundle::_macros.html.twig" as tools %}
{% import "AnticomShowcaseBundle:Comment:_macros.html.twig" as macros %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading be-heading">
                    <h1>
                        <strong>{{ blogEntry.title }}</strong>
                    </h1>

                    <p>
                        <span class="glyphicon glyphicon-user"></span> by <a href="#">{{ blogEntry.author.username }}</a>
                        | <span class="glyphicon glyphicon-calendar"></span> {{ tools.entryDate(blogEntry.dateTimeCreated) }}
                    </p>
                </div>
                <div class="panel-body">
                    {{ blogEntry.body|raw }}
                </div>

            </div>
        </div>
    </div>

    {% if parentComment %}
        <div style="height: 20px;"></div>
        <h4 id="comments">Vorangegangene Kommentare</h4>
        <hr>

        {{ macros.commentResponseMedia(blogEntry, rootComment, parentComment, form) }}
    {% else %}
        <div style="height: 20px;"></div>
        <h4 id="comments">Neuen Kommentar verfassen</h4>
        <hr>
        <div class="media">
            <a class="pull-left" href="#">
                <img src="{{ asset('bundles/anticomshowcase/user_blank.png') }}" class="img-circle media-object" alt="64x64">
            </a>
            <div class="media-body">
                {{ form_start(form) }}
                    {% if not form.vars.valid %}
                        {{ tools.alertErrorAggregate(form.vars.errors) }}
                    {% endif %}
                    <div class="form-group">
                        {{ form_label(form.body) }}
                        {% if form.body.vars.errors|length %}
                            {{ tools.alertErrorAggregate(form.body.vars.errors) }}
                        {% endif %}
                        {{ form_widget(form.body, {'id': 'editor', 'required': false, 'attr': {'rows': '5'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_widget(form.submit) }}
                        <a href="{{ path('anticom_showcase_blog_show', {'id': blogEntry.id}) }}" class="btn btn-default">Abbrechen</a>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/anticomshowcase/tinymce/js/tinymce/jquery.tinymce.min.js') }}"></script>
    <script type="text/javascript">
        scrollToHash();

        $(document).ready(function () {
            editorComment(
                $('#editor'),
                '{{ asset('bundles/anticomshowcase/tinymce/js/tinymce/tinymce.js') }}'
            );
        });
    </script>
{% endblock %}